<footer class="ut-footer" role="contentinfo">
  <div class="container">
    <div class="row pb-5">
      <div class="col-12 col-sm-6 col-md-4">
        {{ page.footer_left }}
      </div>
      {% if page.footer_middle %}
        <div class="col-12 col-sm-6 col-md-3">
          {{ page.footer_middle }}
        </div>
        <div class="col-12 col-md-5">
          {{ page.footer_right }}
        </div>
      {% else %}
      <div class="col-12 col-sm-6 col-md-8">
        {{ page.footer_right }}
      </div>
      {% endif %}
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text--copyright">© The University of Texas at Austin {{ year }}</p>
      </div>
    </div>
  </div>
</footer>
